---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pippaothy-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  rules:
    - host: pippaothy.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: shire
                port:
                  number: 80
    - host: api.pippaothy.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: citadel
                port:
                  number: 80
  tls:
    - hosts:
        - pippaothy.com
        - api.pippaothy.com
      secretName: pippaothy-tls
