package templates

templ ServerError() {
	<p class="text-red-600">Something went wrong</p>
}

templ RegisterError() {
	<p class="text-red-600">Email already taken</p>
}

templ LoginError() {
	<p class="text-red-600">Invalid login attempt</p>
}
