package templates

templ Home() {
  <html>
    <head>
      <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <div class="container">
        <img src="/static/pippa.jpg"/>
        <div class="image-caption">Pippaothy</div>
      </div>
    </body>
  </html>
}

